.container{
    width: 400px;
    height: 400px;
    margin-left: 300px;
    margin-top: 20px;
    background-color:grey;
    text-align: center;
}

input{
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
button{
    width: 50px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
.text ul{
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    width: 300px;
    margin: 10px;
}

.text ul i{
    position: absolute;
    right: 10px;
}